{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eaque impedit maxime nemo omnis placeat praesentium, quia quisquam velit veritatis. Aperiam dolore ipsum laboriosam laborum molestiae natus odio quisquam rerum?</p>
    </div>

{% endblock %}